* {
  font-family: 'Times New Roman', Times, serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  margin-top: 0;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  border-top-right-radius: 15%;
}

.line {
  display: inline-block;
  height: 100vh;
  width: 1vh;
  background-color: goldenrod;
  -webkit-box-shadow: 3px 0px 7px 0px goldenrod, -3px 0px 7px 0px goldenrod;
          box-shadow: 3px 0px 7px 0px goldenrod, -3px 0px 7px 0px goldenrod;
  -webkit-animation: drop-in 3s;
          animation: drop-in 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 49.5%;
  color: white;
  font-size: 40px;
  border-left: goldenrod 10px solid;
  margin: -20px;
  clear: both;
}

.line::after {
  height: 1vh;
  width: 1vw;
  content: "";
  background-color: gold;
  position: absolute;
  left: -25%;
  top: 99%;
  -webkit-box-shadow: 3px 3px 5px 5px white, 6px 6px 12px 12px lightyellow, 9px 9px 40px 15px yellow, -3px 3px 5px 5px white, -6px 6px 12px 12px lightyellow, -9px 9px 40px 15px yellow;
          box-shadow: 3px 3px 5px 5px white, 6px 6px 12px 12px lightyellow, 9px 9px 40px 15px yellow, -3px 3px 5px 5px white, -6px 6px 12px 12px lightyellow, -9px 9px 40px 15px yellow;
}

i {
  display: inline;
  -webkit-transform: translateY(49vh);
          transform: translateY(49vh);
}

ul {
  margin-left: 15vw;
  margin-right: 15vw;
  position: relative;
}

li {
  display: inline-block;
  list-style: none;
}

.box {
  position: relative;
  background-color: lightyellow;
  width: 35%;
  border: 3px solid #999494;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 15%;
}

.right {
  padding: 0px;
  float: right;
  border-top-left-radius: 0%;
  /* -webkit-transform: translateY(-150%);
          transform: translateY(-150%); */
}

.right::before {
  content: '';
  border-right: 30px solid #999494;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  right: 100%;
}

.right::after {
  content: "";
  clear: both;
  display: table;
}

/*
Can insert FA thing via unicode
ex: content: "/fla8"
*/
.right .date {
  background-color: rgba(144, 238, 144, 0.5);
  color: black;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom: 3px #999494 solid;
  border-right: 3px #999494 solid;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-right: 5px;
  z-index: 3;
}

.right p {
  padding: 1.5rem;
}

.left {
  border-top-right-radius: 0%;
  float: left;
  /* -webkit-transform: translateY(-250%);
          transform: translateY(-250%); */
}

.left::after {
  content: '';
  border-left: 30px solid #999494;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  left: 100%;
  top: 0;
}

.left .date {
  background-color: rgba(144, 238, 144, 0.5);
  color: black;
  position: absolute;
  top: 0%;
  right: 0%;
  border-bottom: 3px #999494 solid;
  border-left: 3px #999494 solid;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-right: 5px;
}

li:first-child {
  -webkit-animation: slide-right 3s;
          animation: slide-right 3s;
  margin-bottom: 10vh;
  border-bottom-right-radius: 0;
}

li:nth-child(2) {
  /* top: 50vh; */
  -webkit-animation: slide-right 5s;
          animation: slide-right 5s;
  border-bottom-right-radius: 0;
  display: block;
  position: absolute;
  top: 50%;
  /* left: 15%; */
}

li:last-child {
  -webkit-animation: slide-left 4s;
  animation: slide-left 4s;
  display: block;
  position: absolute;
  top: 25%;
  right: 0%;
  border-bottom-right-radius: 0;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

.photo-card {
  position: relative;
}

.photo-card > h2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
  bottom: -5%;
  left: 0px;
  text-align: center;
}

button {
  display: block;
  position: absolute;
  bottom: 0.2vh;
  right: 0vw;
  font-size: 1.5rem;
  background-color: rgba(144, 238, 144, 0.5);
  border: lightslategrey 3px solid;
}

button:hover {
  -webkit-transform: scale(125%);
          transform: scale(125%);
}

#quote {
  border-left: solid #999494 5px;
}

@-webkit-keyframes drop-in {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes drop-in {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* -webkit-transform: translateY(-250%);
            transform: translateY(-250%); */
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* -webkit-transform: translateY(-250%);
            transform: translateY(-250%); */
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* -webkit-transform: translateY(-150%);
            transform: translateY(-150%); */
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* -webkit-transform: translateY(-150%);
            transform: translateY(-150%); */
  }
}

@media (max-width: 768px) {
  .line {
    left: 0;
  }
  .box {
    min-width: 100%;
    display: block;
  }
  .time2 {
    display: block;
    float: none;
  }
  #time1, #time3 {
    display: block;
    -webkit-animation: slide-left 3s;
            animation: slide-left 3s;
    margin-bottom: 5vh;
  }
  #time3 {
    z-index: -1;
  }
}


/*# sourceMappingURL=styles.css.map */